---
// Astro frontmatter
import Preact from "../component/Preact.jsx"
import Preact2 from "../component/Preact2.jsx"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Preact2 client:load/>
		<h1>Astro 1</h1>
		<Preact client:load/>
		<h1>Astro 2</h1>
		<Preact client:load/>
		<h1>Astro 2</h1>
	</body>
</html>
