<script is:inline type="module">
  import {text} from "../../node_modules/ziko"
  console.log('Welcome, browser console!');
  text("jjd").render(document.querySelector("[data-engine='ziko.js']"))
</script>

<div data-engine="ziko.js"></div>