---
// src/components/Link.astro
const { href, ...props } = Astro.props;
const { currentLocale } = Astro;

// If the locale is not the default ('en'), prepend it to the path
const localizedHref = currentLocale && currentLocale !== 'en' 
  ? `/${currentLocale}${href.startsWith('/') ? href : '/' + href}`
  : href;
---

<a href={localizedHref} {...props}>
  <slot />
</a>